name: Build project

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout=10m

      - name: Run build script
        run: |
          CGO_ENABLED=0 GOOS=windows go build -a -o gopher64-netplay-server.exe .
          CGO_ENABLED=0 GOOS=linux GOARCH=arm64 go build -a -o gopher64-netplay-server-arm64 .
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -a -o gopher64-netplay-server-amd64 .

      - name: Upload folder
        uses: actions/upload-artifact@v6
        with:
          name: gopher64-netplay-server
          path: gopher64-netplay-server*
